<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% if current_user.rolable_type == 'Worker' %>
  <li><%= link_to "Edit #{current_user.email}", worker_edit_path %></li>
  <% else %>
  <li><%= link_to "Edit #{current_user.email}", customer_edit_path %></li>
  <% end %>
  </li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Worker sign up', worker_sign_up_path %></li>
  <li><%= link_to 'Customer sign up', customer_sign_up_path %></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
